<div class="container"
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Life of X </h1>
			<input type="text" class="form-control" placeholder="Q692" id="text_box" name="text-box">
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
